
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  background-color: #344666;
  font-family: 'Open Sans', sans-serif;

}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #587C7D;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #587C7D;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #7E92B4;
  margin-bottom: 20px;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.btn {
  text-decoration: none;
  background-color: #96C7C1;
  color: white;
  padding: 8px 24px;
  border-radius:5px;
}

.btn:hover {
  background-color: black;
  color: white;
}

.container {
  background: rgb(253, 252, 252);
  width: 800px;
  margin: 20px auto;
  text-align: center;
  padding: 24px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.list-inline {
  color: #D01040;
  list-style: none;
  padding: 0;

}

.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 30px;
  margin: 0 4px;
  color: #465b80;
}

.social-icon:hover {
  color: black;
}





/*
.btn-green {
  text-decoration: none;
  background-color: #96C7C1;
  color: white;
  padding: 8px 24px;
  border-radius:5px;
}

.btn-green:hover {
  background-color: black;
  color: white;
}

div {
  background: white;
  width: 800px;
  margin: 20px auto;
  text-align: center;
  padding: 24px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.img-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 30px;
  margin: 0 4px;
  color: rgb(220, 220, 220);
}

.social-icon:hover {
  color: black;
} */
